.countdown-section{
    background: url(/src/assets/img/background.png) no-repeat;
    background-size: cover; 
    min-height: 57vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    flex-direction: column;
}

.countdown-section__header-top{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.countdown-section__header-bottom{
    font-size: 30px;
    font-weight: 700;
}

.dividor{
    height: 86px;
    width: 8px;
    background-color:#fff;
    transform: translateY(-19px);
}

.countdown-nums{
    font-size:100px;
    font-weight: 300;
    width: 97px;
}

.countdown-section__countdown-container{
    display: flex;
    gap:40px;
    align-items: center;
    justify-content: center;
}

.countdown-text{
    font-size: 24px;
    font-weight:600;
}

.close-countdown-section{
    display: none;
}