
.darkmode-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    color: #fff;
}

.darkmode-section__img{
    width: 400px;
}

.darkmode-section__line{
    border: 1px solid #fff;
    width: 50%;
}

.darkmode-section__btn-container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.darkmode-section__toggle-bttns__btn-container__btn{
    border:none;
    cursor: pointer;
    background: none;
}

.darkmode-section__toggle-bttns{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 40px;
    margin-top:41px;
}

.darkmode-section__toggle-bttns__btn-container__text{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.darkmode-section__toggle-bttns__text__on{
    color:#FF9209
}

