.faq-section{
    width: 100%;
    color: #222;
    padding: 105px 0;
    background: #E5E5E5;
}
.faq-block {
    max-width: 1200px;
    margin: auto;
}
 .faq-block__last {
    width: 100%;
    display: flex;
    gap: 0 16px;
    flex-wrap: wrap;
}

.faq-container{
    width: calc(50% - 8px);
    color: #222;
    margin-bottom: 15px;
}

.faq-section__section-text{
    margin-bottom: 42px;
}

.section-heading{
    margin-bottom: 13px;
}

.faq-container__question{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.faq-container__answer{
    font-size: 16px;
}
@media (max-width: 820px) {
    .faq-section{
        padding: 105px 10px;
    }
    .faq-container{
        width: 100%;
    }
}
@media (max-width:425px) {

    .faq-container__answer{
        font-size:12px;
    }
    .faq-container__question{
        font-size:15px;
    }
}