.footer{
    padding: 8.25rem 11.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.sm-links{
    display: flex;
    gap: 20px;
    background: none;
}

.sm-links__link{
    border:none;
    cursor: pointer;
    background: none;
}

@media (max-width:425px) {
    .footer__logo{
        width: 70px;
    }
}

@media (max-width:320px) {
    .footer{
        padding: 7.25rem 9.5rem;
    }
}

