.footer{
    padding: 6.25rem 9.5rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.footer-container__sm-links{
    display: flex;
    gap: 20px;
    background: none;
}

.footer-container__sm-links__link{
    border:none;
    cursor: pointer;
    background: none;
}
