.hero-section {
    width: 100%;
    padding-top: 82px;
}
.hero-block {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 115px 0px 91px;
}
.hero-section__img {
    width: 23.5rem;
    height: 548px;
    object-fit: cover;
    object-position: 100% 0;
    transform: translateY(6px);
    transform: translateY(7px);
}

.hero-section__text {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    color: #222;
    width: 50%;
    margin-bottom: 100px;
}

.hero-section__header {
    font-size: 54px;
    font-weight: 400;
    line-height: 60px;
    margin: 11px 0 17px 0;
}

.hero-section__paragraph {
    font-size: 16px;
    font-weight: 400;
    width: 75%;
}

.hero-section__btn {
    padding: 10px 25px;
    border: none;
    box-sizing: border-box;
    width: 148px;
    height: 40px;
    font-size: 14px;
    letter-spacing: 2px;
    background: #222;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.hero-section__btn__left {
    margin-right: 10px;
    margin-left: 6px;
}

.hero-section__btn:active {
    transform: scale(0.98);
}

.hero-section__btn:focus {
    outline: 2px solid #5AB0FF
}

.hero-section__btn:hover {
    background-color: #4E4E4E;
}

.hero-section__btn:active {
    transform: scale(0.98);
}

.hero-section__btn:focus {
    outline: 2px solid #5AB0FF
}

@media (max-width:1121px) {
    .hero-section__text{
        margin-bottom: 0px;
    }

    .hero-section__bttns{
        display: flex;
    }

    .hero-block {
        padding: 0;
    }
}

@media (max-width:1195px) {
    .hero-section {
        padding: 55px 100px 0px;
    }

    .hero-section__img {
        transform: translateY(6px);
    }
}

@media (max-width:923px) {
    .hero-section {
        padding: 55px 100px 0px;
    }

    .hero-section__img {
        width: 19.5rem;
        height: 454px;
        transform: translateY(8px) !important;
    }

    .hero-section__logo {
        width: 150px;
    }

    .hero-section__header {
        font-size: 48px;
    }
}

@media (max-width:895px) {
    .hero-section {
        align-items: center;
        flex-wrap: wrap;
        padding: 55px 100px 0px;
    }

    .hero-section__img {
        width: 19.5rem;
        height: 454px;
    }

    .hero-section__logo {
        width: 150px;
    }

    .hero-section__header {
        font-size: 48px;
    }

    .hero-section__text {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media (max-width:600px) {
    .hero-section {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 55px 10px 0 10px;
    }

    .hero-section__img {
        width: 19.5rem;
        height: 454px;
    }

    .hero-block {
        max-width: 1200px;
        margin: auto;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 0;
    }

    .hero-section__logo {
        width: 150px;
    }

    .hero-section__header {
        font-size: 48px;
        text-align: center;
    }

    .hero-section__text {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .hero-section__img-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}


@media (max-width:320px) {
    .hero-section__header{
        font-size: 34px;
    }

    .hero-section__bttns{
        display: flex;
    }
}

