.testimonials-section {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #f2f2f2;
}  

.testimonials-section__testimonials_cards {
    max-width: 1200px;
    margin-top: 41px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px
}

.testimonials_cards__card-item {
    display: flex;
    background-color: #fff;
    border-radius:20px;
    width: 22.688rem;
    height: 14rem;
    flex-direction: column;
    padding:30px;
    text-align: left;
    color:#222;
}

.card-item__testimonial {
    margin-bottom: 22px;
    height: 91px;
}

@media (max-width:768px) {
    .testimonials_cards__card-item {
        width: 14rem;
        height: 13rem;
        justify-content: space-between;
        flex-direction: column;
        padding: 10px;  
    }
}

@media (max-width:425px) {

    .pricing-section__section-text {
        width: 100%;
    }

    .pricing-section__pricing_cards {
        flex-wrap: unset;
        text-transform: capitalize;
        flex-direction: column;
    }

    .testimonials-section__testimonials_cards {
        flex-wrap: unset;
        flex-direction: column;
        gap: 16px;
    }
    
    .testimonials_cards__card-item {
        width: 14rem;
        height: 13rem;
    }
}